* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: ¨Poppins,sans-serif;
}

body{
    background: url("https://images2.alphacoders.com/480/thumb-1920-480538.png") no-repeat;
    background-size:cover;
    background-position: center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    width: 100vh;
    position: relative;
}


header{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; 
    margin-bottom: 100px;
}

.logo{
    margin-top: 30px;    
}

.navegacion a{
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegacion a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#c0fb59;
    border-radius: 5px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacion a:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}


.navegacion .botonderegistro{
    width: 130px;
    height: 45px;
    background: transparent;
    border: 3px solid 
    rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255); 
    font-weight: 500;
    margin-left: 40px;
    transition: all .5s;
}

.navegacion .botonderegistro:hover{
    background: azure;
    color: rgb(55, 56, 99);
}

.registro{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(62, 204, 88, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease , height .2s ease;
    z-index: 2;
    top: calc(50% - 250px);
}
.registro.activarbtn{
    transform: scale(1);
}

.registro .caja-registro{
    width: 100%;
    padding: 40px;
}

.registro .icono-cerrar{
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    position: absolute;
    display: flex;
    background-color: #c0fb59;
    font-size: 2em;
    color: #000000;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    
}

.caja-registro h2{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.caja-entrada{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(228, 228, 228);
    margin:  30px 0;

}
.caja-entrada label {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY( -50% );
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.caja-entrada input:focus~label{
    top: -5px;
}

.caja-entrada input:valid~label{
    top: -5px;
}


.caja-entrada input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    padding: 0 35px 0 5px;

}
.caja-entrada .icono{
    color: #ffffff;
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
} 

.recordar{
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: -15px 0 20px ;
    display: flex;
    justify-content: space-between;
}
.recordar label input{
    accent-color: #c0fb59;
    margin-right: 3px;
}

.recordar a{
    text-decoration: none;
    color: #c0fb59;
}
.recordar a:hover{
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #c0fb59;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.iniciar-registro {
    color: #ffffff;
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin:  25px 0 10px;
}

.iniciar-registro p a {
    color: #c0fb59;
    text-decoration: none;
    font-weight: 600;
}

.iniciar-registro p a:hover {
    text-decoration: underline;
}


.inactive {
    display: none;
}

/* CARDS */

.container-main--cards{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px;
    padding: 28px;
}

.cards{
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(40px);
    height: 380px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 25px 50px 0 rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 1px solid rgb(31, 31, 31);
}

.cards--title{
    text-align: center;
    font-size: 19px;
    color: #b93e3e;
    margin-bottom: 10px;
}

.cards--text{
    text-align: start;
    line-height: 21px;
    font-size: 13px;
    margin-bottom: 10px;
}

.cards--image{
    position: absolute;
    width: 230px;
    max-height: 140px;
    border-radius: 8px;
    margin: 0 auto;
    object-fit: cover;
    bottom: 45px;
}

.cards--link{
    margin-top: 10px;
    font-size: 14px;
    margin-right: 5px;
    color: #c0fb59;
    text-decoration: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.cards--link::after{   
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #c0fb59;
    border-radius: 5px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;
}

.cards--link:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}

/*ESTILO DE HOME */


.container-home{
    width: 90%;
    height: 85vh;
    padding: 28px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    line-height: 25px;
    position: relative;
    margin-top: 100px;
}


.container-welcome h1 {
    margin-bottom: 30px;
}

.container-welcome p {
    color: white;
}

.container-benefits h2, .container-compromise h2{
    margin: 30px 0 30px 0;

}

/* ESTILO DE SERVICES */

.container-services {
    width: 100%;
    height: 80%;
    margin-top: 100px;
}


.container-main-services {
    width: 95%;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}


/* ESTILO DE NOTICIAS */


.container-notices {
    width: 100%;
    height: 80%;
    margin-top: 100px;
}

.container-main-notices {
    width: 95%;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/*  ESTILOS DE CONTACTOS */

.container-contacts {
    width: 90%;
    height: 80%;
    margin-top: 100px;
}

.container-main-contacts {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.contact-card {
    background-color: tranparent;
    backdrop-filter: blur(40px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 25px 50px 0 rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 120px;
    border: 1px solid rgb(31, 31, 31);
}
.contact-card h2 {
    color: #b93e3e;
}
.contact-card p {
    margin: 5px 0;
    color: #ffffff;
}
.contact-card span{
    color:#c0fb59;
    font-weight: bold;
    text-decoration: underline;
}