* {
    margin:  0;
    padding: 0%;
    box-sizing: border-box;
    font-family: ¨Poppins,sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://th.bing.com/th/id/R.b98405f7ed504f46b3da455d3e992b74?rik=8nLuVhByuJbEug&pid=ImgRaw&r=0")no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99; 
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navegacion a{
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegacion a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacion a:hover::after{
    transform-origin:left;
    transform: scaleX(1);
}


.navegacion .botonderegistro{
    width: 130px;
    height: 45px;
    background: transparent;
    border: 3px solid 
    rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255); 
    font-weight: 500;
    margin-left: 40px;
    transition: all .5s;
}

.navegacion .botonderegistro:hover{
background: azure;
color: rgb(55, 56, 99);
}

.registro{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(62, 204, 88, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease , height .2s ease;
}
.registro.activarbtn{
    transform: scale(1);
}

.registro .caja-registro{
    width: 100%;
    padding: 40px;
}

.registro .icono-cerrar{
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    position: absolute;
    display: flex;
    background-color: #c0fb59;
    font-size: 2em;
    color: #000000;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    
}

.caja-registro h2{
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
}
.caja-entrada{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(228, 228, 228);
    margin:  30px 0;

}
.caja-entrada label {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY( -50% );
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.caja-entrada input:focus~label{
    top: -5px;
}

.caja-entrada input:valid~label{
    top: -5px;
}


.caja-entrada input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    padding: 0 35px 0 5px;

}
.caja-entrada .icono{
    color: #ffffff;
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
} 

.recordar{
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: -15px 0 20px ;
    display: flex;
    justify-content: space-between;
}
.recordar label input{
    accent-color: #c0fb59;
    margin-right: 3px;
}

.recordar a{
    text-decoration: none;
    color: #c0fb59;
}
.recordar a:hover{
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #c0fb59;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.iniciar-registro {
    color: #ffffff;
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin:  25px 0 10px;
}

.iniciar-registro p a {
    color: #c0fb59;
    text-decoration: none;
    font-weight: 600;
}

.iniciar-registro p a:hover {
    text-decoration: underline;

}


.inactive {
    display: none;
}






































































.container-services {
    margin-top: 100px;
    width: 100%;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.container-main-services {
    background: #ffffffce;
    width: 95%;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}